<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha compra:</strong>
  <%= @adquisicion.fecha_compra %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @adquisicion.monto %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @adquisicion.cliente %>
</p>

<%= link_to 'Edit', edit_adquisicion_path(@adquisicion) %> |
<%= link_to 'Back', adquisicions_path %>
